.inputs-container {
    position: relative;
}

.inputs-container_how-many-left {
    position: absolute;
    right: 108px;
    top: 7px;
}

.task-container {
    display: flex;
}

.task-item {
    position: relative;
    width: 100%;
}

.task-title {
    position: absolute;
    left: 13px;
    top: 7px;
}
